.postJobBtn {
  background-color: #1b6313;

  color: var(--primaryColor);
  padding: 7px 56px;
  border: 1px solid var(--primaryColor);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: color 0.3s ease;
  overflow: hidden;
  z-index: 1;
}

.postJobBtn:before {
  transition: 0.8s all ease;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%; /* Start from the bottom of the button */
  height: 100%; /* Full height */
  opacity: 0; /* Start hidden */
  content: '';
  background-color: black;
  z-index: -1; /* Place behind the text */
  /* border-color: #A357C4; */
}

.postJobBtn:hover, .postJobBtn:focus {
  color: white; /* Change text color on hover */
  border-color: black;


}

.postJobBtn:hover:before, .postJobBtn:focus:before {
  transition: 0.5s all ease;
  top: 0; /* Move the background color to the top */
  opacity: 1; /* Fade in */
}

.postImg1 {
  right: 40px !important
}

@media (max-width:990px) {
  .postImg7 {
    top: 80px !important
  }

  .postImg6 {
    bottom: 30px !important;
  }

  .postImg4 {
    top: 370px !important;
  }

  .postImg5 {
    left: 40px !important;
  }

  .postImg1 {
    right: 100px !important
  }

  .postImg2 {
    bottom: 20px !important;
  }

  .postImg3 {
    top: 250px !important;
  }
}

@media (max-width:640px) {
  #rightSide {
    display: none;
  }
}